@font-face {
    font-family: "PingFang SC Regular";
    src: url("pingfang.eot"); /* IE9 */
    src: url("pingfang.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("pingfang.woff") format("woff"), /* chrome, firefox */
    url("pingfang.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("pingfang.svg#PingFang SC Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


