body{
	background-image: url(../img/img_bg.png);
	background-size: 100% 100%;
	background-attachment: fixed;
}
/*页面内容*/
#main_content{
	width: 100%;
	height: 100%;
	padding-top: 30px;
}
#main_content .container{
	min-width: 1200px;
	padding: 20px;
	background-color: rgba(0,0,0,0.7);
	color: white;
}
#main_content .container h2{
	display: inline;
	font-size: 30px;
}
#main_content .container form{
	margin-top: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap:30px;
	-moz-column-count: 2;
	-moz-column-gap: 30px;
}
#main_content .container form .form-group{
	line-height: 34px;
}
#main_content .container form .form-group .control-label{
	padding: 0;
	text-align: right;
	font-weight: normal;
}
@media only screen and (max-width: 768px) {
	#main_content .container form .form-group .control-label{
		display: none;
	}
}
#main_content .container form .form-group .control-label span{
	color: red;
	font-size: 18px;
}
#main_content .container form .form-group .form-control{
	border-radius: 2px;
	max-width: 210px;
	box-shadow: none;
}
#main_content .container form .form-group .error_tips{
	color: red;
	padding: 0;
	/*visibility: hidden;*/
	display: none;
}
#main_content .container form .form-group .error_tips .glyphicon{
	margin-right: 5px;
}
#main_content .container form .form-group .input_tips{
	padding-left: 10px;
}
#main_content .container form .checkbox a{
	color: red;
	text-decoration: underline;
}
#main_content .container form .form-group .form-control{
	display: inline-block;
}
#main_content .container form .form-group label.error{
	display: inline;
	font-size: 12px;
	font-weight: normal;
	color: red;
	margin-left: 4px;
}
#main_content .container form .form-group textarea{
	border-radius: 2px;
}
#main_content .container form .form-group #identify_code{
	display: inline-block;
	width: 70px;
	background-color: gray;	
	text-align: center;
	line-height: 34px;
	margin-left: 10px;
	font-style: italic;
}
#main_content .container form #btn_submit{
	background-color: #F55A48;
	border: none;
	
}
#main_content .container form #div_refercode label.error{
	position: absolute;
	left: 45%;
	top: 0;
}

/*模态框*/
#myModal{
	width: 400px;
	margin: auto;
	top: 30%;
	text-align: center;
}
#myModal img{
	width: 100px;
}
#myModal .modal-dialog{
	width: 100%;
}
.modal-open .modal{
	overflow: hidden;
}
#myModal #myModalLabel{
	text-align: center;
}
#myModal #myModalLabel img{
	width: 50px;
}
#myModal .modal-body .glyphicon{
	color: green;
}
#myModal .modal-header,#myModal .modal-footer{
	border: none;
}
#myModal .modal-footer .btn-block{
	width: 50%;
	margin: auto;
	background-color: #f55a48;
	border: none;
	color: white;
}
