@charset "utf-8";
/* Download : http://www.codefans.net *?
/* Reset css*/
body,h1,h2,h3,h4,h5,h6,div,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{
    margin:0;padding:0
}
body,button,input,select,textarea{
    font:12px/1.5 tahoma,arial,\5b8b\4f53;
}
body{
    _overflow:auto;
    _height:100%;
    margin:0 auto;
}
html{
    _overflow:hidden;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
}
address,cite,dfn,em,var{
    font-style:normal;
}
code,kbd,pre,samp{
    font-family:courier new,courier,monospace
}
small{
    font-size:12px;
}
ul,ol,li,dl,dt,dd{
    list-style:none;
}
sup{
    vertical-align:text-top;
}
sub{
    vertical-align:text-bottom;
}
legend{
    color:#000;
}
fieldset,img{
    border:0;
}
button,input,select,textarea{
    font:12px/1.5 tahoma,arial,sans-serif; vertical-align:middle;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
.clear{
    display:block;
    float:none;
    clear:both;
    overflow:hidden;
    visibility:hidden;
    width:0;
    height:0;
    background:none;
    border:0;
    font-size:0;
}
a{
    text-decoration:none;
    color:#555;
}
