@charset "utf-8";
/* CSS Document */
*{
    margin:0;
    padding:0;
    list-style-type:none;
}
a,img{
    border:0;
}
body{
    background:#fff;
    color:#333;
    font-weight:500;
    font-family:'Microsoft Yahei';
}
.focus{
    height:235px;
    width:545px;
    position: relative;
}
.focus .left {
    float:left;
    width:413px;
    height:235px;
    position:relative;
}
.focus .left li{
    position:absolute;
    left:0;
    top:0;
    width:545px;
    height:235px;
    opacity:0;
    filter:alpha(opacity=0);
    cursor: pointer
}
/*.focus .left li.active{
    z-index:2;
}*/
.focus .left li img{
	width: 100%;
	height: 100%;
}
.focus .left li p{
    display:none;
}
.focus .right{
    width:132px;
    height: 228px;
    position: absolute;
    right: 5px;
    top: 0;
    z-index: 100;
}
.focus .right li{
    height:25px;
    line-height: 25px;
    overflow:hidden;
    padding:0 14px;
    cursor: pointer;
    width:132px;
    font-size: 14px;
    box-sizing: border-box;
}
.right>div{
    width: 132px;
    height: 90px;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    border-top-right-radius: 5px;
}
.right>div>div{
    font-size: 28px;
    padding-top: 20px;
}
.right>div>p{
    font-size: 14px;
}
.right>ul{
    width: 132px;
    height: 109.46px;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}
.right>ul>li>i{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 6px;
}
.right>ul>li>i.i{
    background:url("../img/sj.png") no-repeat;
}
.more{
    height: 28px;
    line-height: 25px;
    overflow: hidden;
    padding-left: 30px;
    cursor: pointer;
    width: 132px;
    font-size: 14px;
    box-sizing: border-box;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
    border-bottom-right-radius: 5px;
}

/*.focus .right li:hover,.focus .right li.active>i{background-image:url("../img/sj.png"); background-repeat:no-repeat;}*/