.discount-main {
	width: 1200px;
	margin: 0 auto;
	padding: 50px 30px;
}

.discount-main .main-wrap {
	background: #373737;
}

.discount-main .main-wrap aside {
	width: 220px;
	padding: 30px 28px;
	height: initial;
}

.discount-main .main-wrap aside .item {
	line-height: 35px;
	font-size: 12px;
}

.discount-main .main-wrap aside .item.active,
.discount-main .main-wrap aside .item:hover {
	background: #d8a659;
}

.discount-main .main-wrap aside .item a {
	padding: 0 28px 0 38px;
	width: 100%;
	display: inline-block;
}

.discount-main .main-wrap aside .item span {
	float: right;
	margin-top: 10px;
}

.discount-main .main-wrap .coupon-wrap {
	width: 920px;
	font-size: 12px;
	min-height: 500px;
	border-left: 1px dashed #5F5F5F;
}
.discount-main table,table tr th, table tr td { border:1px solid #fff; }