.sport-main .main-wrap {
	width: 1200px;
	margin: 0 auto;
	padding: 50px 30px;
}

.sport-main .main-wrap .tab-item {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 60px;
	padding-left: 145px;
	width: 560px;
	height: 300px;
}

.sport-main .main-wrap .tab-item .joingame {
	width: 270px;
	height: 180px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	text-align: center;
	padding: 26px 18px;
	font-size: 12px;
}

.sport-main .main-wrap .tab-item .joingame .logo {
	height: 40px;
}

.sport-main .main-wrap .tab-item .joingame p {
	line-height: 1.8;
	margin: 9px 0;
}

.sport-main .main-wrap .tab-item .joingame .btn {
	font-size: 14px;
	padding: 5px 30px;
	border-radius: 15px;
}

.sport-main .main-wrap .tab-item .joingame:hover {
	animation-name: pulse;
	animation-duration: 1s;
  animation-fill-mode: both;
}

.sport-main .main-wrap .sport1 {
	background: url(../img/sport/item-img1.jpg);
}

.sport-main .main-wrap .sport1 .logo {
	background: url(../img/sport/item-logo1.png) no-repeat center center;
	background-size: auto 40px;
}

.sport-main .main-wrap .sport2 {
	background: url(../img/sport/item-img2.jpg);
}

.sport-main .main-wrap .sport2 .logo {
	background: url(../img/sport/item-logo2.png) no-repeat center center;
	background-size: auto 40px;
}

@keyframes pulse {
	from {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	to {
		transform: scale3d(1, 1, 1);
	}
}

.pulse {
	animation-name: pulse;
}